{% extends './layout/baseLayout.njk' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block style %}
  <link rel="stylesheet" href={{ "css/entry.css" | css }}>
{% endblock %}

{% block content %}
  <div id="app"></div>
{% endblock %}

{% block script %}
  <script src={{ "js/entry.js" | js }} charset="utf-8"></script>
{% endblock %}
