# This file is automatic generated when server is started.

[ALL] * ===> IndexController.httpRequestLog
[GET] /login ===> LoginController.getLoginHtml
[GET] /logout ===> LoginController.logout
[GET] /test1 ===> LoginController.logout
[GET] /user/info ===> UserController.getUserInfo
[GET] /user/department/id ===> UserController.getUserDeparmentId
[POST] /user/:id ===> UserController.createUser