# This file is automatic generated when server is started.

[ALL] * ===> IndexController.httpRequestLog
[GET] /logout ===> LoginController.logout
[GET] /test1 ===> LoginController.logout
[GET] /login ===> LoginController.getLoginHtml
[POST] /record/create ===> UserController.createRecord
[POST] /user/:id ===> UserController.createUser
[GET] /record/list ===> UserController.findRecords
[DELETE] /record/delete/:id ===> UserController.deleteRecord
[GET] /user/info ===> UserController.getUserInfo
[GET] /user/department/id ===> UserController.getUserDeparmentId
[GET] /record/:id(\d+) ===> UserController.findRecordById